@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap");

:root {
  --font-text: "Poppins", sans-serif;
  --font-header: "Playfair Display", serif;
  --main: #ffad84;
  --cards: #ffc47e;
  --secondery: #ffe382;
  --final: #fff78a;
  --extra: #e3d081;
  --btn-color: #0090c1;
  --equal-color: #a6a15e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffad84;
  background: linear-gradient(221deg, #ffad84 0%, #fff78a 80%);
  background: -webkit-linear-gradient(221deg, #ffad84 0%, #fff78a 80%);
  background: -moz-linear-gradient(221deg, #ffad84 0%, #fff78a 80%);
}

header {
  overflow: hidden;
  background-color: var(--main);
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

.left-side {
  position: absolute;
  left: 2.5rem;
  font-size: 2.5rem;
  font-family: Rubik Bubbles;
}

.right-side {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-side ul li {
  display: inline;
  margin: 0.5rem;
  padding: 0;
}

.right-side ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: black;
  padding: 0.8rem 0.4rem; /* Add padding to create space around the text */
  display: inline-block; /* Ensure the elements are displayed as blocks */
  border-radius: 0.4rem;
}

.right-side ul li a:hover {
  background-color: var(--secondery);
}

.about-us {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.about-us::after {
  content: "En kort sammanfattning av vår expertis och kompetens inom olika områden.";
  position: absolute;
  background-color: var(--equal-color);
  top: 15%;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem;
  font-family: var(--font-header);
}

.team-member {
  margin-top: 8rem;
  flex: 1 1 300px;
  max-width: 300px;

  border-radius: 0.5rem;
  overflow: hidden;
  text-align: center;
  background-color: var(--cards);
  margin-bottom: 1.5rem;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
}

.team-member img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.team-member h3 {
  margin-block: 0.4rem;
  font-size: 1.5rem;
  font-family: var(--font-header);
}

.team-member p {
  padding: 1rem;
  font-size: 1.1rem;
  font-family: var(--font-text);
}

.company-info {
  flex: 1 1 60%;
  max-width: 60%;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  background-color: var(--cards);
  padding: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
  font-family: var(--font-text);
}

.company-info h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-family: var(--font-header);
  color: orangered;
}

.company-info p {
  font-size: 1em;
  text-align: left;
}

footer {
  font-size: 2rem;
  font-family: var(--font-header);
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .company-info {
    width: 90%;
  }
}
